.container {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}
